* {
    font-family: iran_sans_light;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: bisque;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
}

.header .logo {
    font-size: 2.5rem;
    color: orangered;
    font-weight: bold;
}

.header .logo span {
    color: black;
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: #000;
}

.header .navbar a:hover{
    color: orangered;
}

div {
    padding: 1rem 2%;
}

.products{
    padding-top: 10rem;
    text-align: center;
    overflow-x: hidden;
    background: linear-gradient(white, beige);
}

section {
    padding: 1rem 2%; 
}

.motorcycle-list {
    padding-top: 10rem;
    text-align: center;
    overflow-x: hidden;
    background: linear-gradient(white, beige);
}

.motorcycle-list {
    margin-top: -80px;
    padding: 100px;
}

.motorcycle-list h2 {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 4rem;
    color: #000;
}

.motorcycle-list .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(35rem,1fr));
    gap: 1.5rem;
}

.motorcycle-list .box-container .box{
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.motorcycle-list .box-container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color: orangered;
    border: var(--border);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.motorcycle-list .box-container .box h3{
    color: #000;
    font-size: 2.2rem;
}

.motorcycle-list .box-container .box p{
    color: #000;
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.motorcycle-list .box-container .box img{   
    padding: 5px;
    width: 300px;
}

.motorcycle-list .box-container .box {
    background: rgb(239, 209, 89);
}

.motorcycle-list .box-container .box:hover h3{
    color: #fff;
}

.motorcycle-list .box-container .box:hover p{
    color: #fff;
}

.motorcycle-list .box-container .box:hover i{
    color: #000;
    background: #fff;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background: rgb(242, 208, 73);
    color: #000;
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.8rem 3rem;
}

section {
    padding: 1rem 2%; 
}

.accessories-list {
    padding-top: 10rem;
    text-align: center;
    overflow-x: hidden;
    background: linear-gradient(white, beige);
}

.accessories-list {
    margin-top: -80px;
    padding: 100px;
}

.accessories-list h2 {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 4rem;
    color: #000;
}

.accessories-list .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(35rem,1fr));
    gap: 1.5rem;
}

.accessories-list .box-container .box{
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.accessories-list .box-container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color: orangered;
    border: var(--border);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.accessories-list .box-container .box h3{
    color: #000;
    font-size: 2.2rem;
}

.accessories-list .box-container .box p{
    color: #000;
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.accessories-list .box-container .box img{
    border: 1px solid #f2861a;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
}

.accessories-list .box-container .box li{
    color: #000;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.8;
}

.accessories-list .box-container .box {
    background: rgb(239, 209, 89);
}

.accessories-list .box-container .box:hover h3{
    color: #fff;
}

.accessories-list .box-container .box:hover p{
    color: #fff;
}

.accessories-list .box-container .box:hover li{
    color: #fff;
}

.accessories-list .box-container .box:hover i{
    color: #000;
    background: #fff;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background: rgb(242, 208, 73);
    color: #000;
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.8rem 3rem;
}

.footer{
    background: #f9fafd;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(5rem ,14fr));
    gap: 1rem;
}
.footer .box-container .box h3{
    font-size: 2rem;
    color: #000;
    padding: 1rem 0;
}
.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color: #000;
    padding: 1rem 0;
}
.footer .box-container .box a i{
    padding-right: .5rem;
    color: green;
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}